@page 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="main">

</div>
@section Scripts {
	<script type="text/javascript">
        var tarr = [];
        var idt = 0;
        var idc = 0;
        $(document).ready(function(){            
            setInterval(function(){ 
                //alert("Data: " + data[0].ntrain + "\nStatus: " + status);
                $.get("https://localhost:44358/api/Data", function(data, status) {
                    idt = data[0].ntrain;
                    idc = data[0].ncarriage;
                    if(!tarr.includes(data[0].ntrain)) {
                            
                        tarr.push(data[0].ntrain)
                            
                        $('<div></div>').addClass("row").attr("id", "rowtr" + idt.toString() ).appendTo('.main');  
                        $('<div></div>').addClass("col-sm-2 col-md-4").attr("id", "crcol" + idt.toString() + idc.toString() ).appendTo('#rowtr' + idt.toString());
                        $('<div></div>').addClass("card mb-2").attr("id", "crcard" + idt.toString() + idc.toString() ).appendTo('#crcol' + idt.toString() + idc.toString() );
                        $('<div></div>').addClass("card-header").attr("id", "crcardheader" + idt.toString() + idc.toString() ).appendTo('#crcard' + idt.toString() + idc.toString() );
                        $( "#crcardheader" + idt.toString() + idc.toString()).prepend( "<p id=" + "pheadert" + idt.toString() + idc.toString() + ">" + "Treno: " + data[0].ntrain + "</p>" );
                        $( "#crcardheader" + idt.toString() + idc.toString()).prepend( "<p id=" + "pheaderh" + idt.toString() + idc.toString() + ">" + "Carriage: " + data[0].ncarriage + "</p>" );
                        $('<div></div>').addClass("card-body").attr("id", "crcardbody" + idt.toString() + idc.toString() ).appendTo('#crcard' + idt.toString() + idc.toString() );
                        $( "#crcardbody" + idt.toString() + idc.toString()).prepend( "<p id=" + "pbodyt" + idt.toString() + idc.toString() + " >" + "C°: " + data[0].temp + "</p>" );
                        $( "#crcardbody" + idt.toString() + idc.toString()).prepend( "<p id=" + "pbodyh" + idt.toString() + idc.toString() + " >" + "%: " + data[0].humidity + "</p>" );
                    }
                    else if(tarr.includes(data[0].ntrain) && !!document.getElementById("crcol" + (data[0].ntrain).toString() + (data[0].ncarriage).toString())) {
                            
                        $( "#pheadert" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pheadert" + idt.toString() + idc.toString() + ">" + "Treno: " + data[0].ntrain + "</p>" );
                        $( "#pheaderh" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pheaderh" + idt.toString() + idc.toString() + ">" + "Carriage: " + data[0].ncarriage + "</p>" );

                        $( "#pbodyt" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pbodyt" + idt.toString() + idc.toString() + ">" + "C°: " + data[0].temp + "</p>" );
                        $( "#pbodyh" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pbodyh" + idt.toString() + idc.toString() + ">" + "%: " + data[0].humidity + "</p>" );
                    }
                    else {
                            
                        $('<div></div>').addClass("col-sm-2 col-md-4").attr("id", "crcol" + idt.toString() + idc.toString() ).appendTo('#rowtr' + idt.toString());
                        $('<div></div>').addClass("card mb-2").attr("id", "crcard" + idt.toString() + idc.toString() ).appendTo('#crcol' + idt.toString() + idc.toString() );
                        $('<div></div>').addClass("card-header").attr("id", "crcardheader" + idt.toString() + idc.toString() ).appendTo('#crcard' + idt.toString() + idc.toString() );
                        $( "#crcardheader" + idt.toString() + idc.toString()).prepend( "<p id=" + "pheadert" + idt.toString() + idc.toString() + ">" + "Treno: " + data[0].ntrain + "</p>" );
                        $( "#crcardheader" + idt.toString() + idc.toString()).prepend( "<p id=" + "pheaderh" + idt.toString() + idc.toString() + ">" + "Carriage: " + data[0].ncarriage + "</p>" );
                        $('<div></div>').addClass("card-body").attr("id", "crcardbody" + idt.toString() + idc.toString() ).appendTo('#crcard' + idt.toString() + idc.toString() );
                        $( "#crcardbody" + idt.toString() + idc.toString()).prepend( "<p id=" + "pbodyt" + idt.toString() + idc.toString() + " >" + "C°: " + data[0].temp + "</p>" );
                        $( "#crcardbody" + idt.toString() + idc.toString()).prepend( "<p id=" + "pbodyh" + idt.toString() + idc.toString() + " >" + "%: " + data[0].humidity + "</p>" );
                            
                    }
                });
            }, 5000);
             
        });
    </script>
}





