@page 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="main">
    
</div>
@section Scripts {
	<script type="text/javascript">
        var tarr = [];
        var idt, idc, idtemp, idhum, idbd, idcr1, idcr2, idal = 0;
        //create complete card if train doesn't exist
        function createCard(idt, idc, idtemp, idhum, idbd, idcr1, idcr2, idal) {
            $('<div></div>').addClass("col-sm-2 col-md-4").attr("id", "crcol" + idt.toString() + idc.toString() ).appendTo('#rowtr' + idt.toString());
            $('<div></div>').addClass("card mb-2").attr("id", "crcard" + idt.toString() + idc.toString() ).appendTo('#crcol' + idt.toString() + idc.toString() );
            $('<div></div>').addClass("card-header").attr("id", "crcardheader" + idt.toString() + idc.toString() ).appendTo('#crcard' + idt.toString() + idc.toString() );
            $( "#crcardheader" + idt.toString() + idc.toString()).append( "<p id=" + "pheadert" + idt.toString() + idc.toString() + ">" + "Treno: " + idt + "</p>" );
            $( "#crcardheader" + idt.toString() + idc.toString()).append( "<p id=" + "pheaderh" + idt.toString() + idc.toString() + ">" + "Carriage: " + idc + "</p>" );
            $('<div></div>').addClass("card-body").attr("id", "crcardbody" + idt.toString() + idc.toString() ).appendTo('#crcard' + idt.toString() + idc.toString() );
            $( "#crcardbody" + idt.toString() + idc.toString()).append( "<p id=" + "pbodyt" + idt.toString() + idc.toString() + " >" + "C°: " + idtemp + "</p>" );
            $( "#crcardbody" + idt.toString() + idc.toString()).append( "<p id=" + "pbodyh" + idt.toString() + idc.toString() + " >" + "%: " + idhum + "</p>" );
            $( "#crcardbody" + idt.toString() + idc.toString()).append( "<p style=" + "display:" + "none;" + " id=" + "pbodybd" + idt.toString() + idc.toString() + " >" + "bathdoor: " + idbd + "</p>" );
            $( "#crcardbody" + idt.toString() + idc.toString()).append( "<p style=" + "display:" + "none;" + " id=" + "pbodycr1" + idt.toString() + idc.toString() + " >" + "carriagedoor1: " + idcr1 + "</p>" );
            $( "#crcardbody" + idt.toString() + idc.toString()).append( "<p style=" + "display:" + "none;" + " id=" + "pbodycr2" + idt.toString() + idc.toString() + " >" + "carriagedoor2: " + idcr2 + "</p>" );
            $( "#crcardbody" + idt.toString() + idc.toString()).append( "<p style=" + "display:" + "none;" + " id=" + "pbodyal" + idt.toString() + idc.toString() + " >" + "alarm: " + idal + "</p>" );
            
            $("<button>Vai al dettaglio</button>").addClass("btn btn-warning").attr("id", "show" + idt.toString() + idc.toString()).appendTo("#crcardbody" + idt.toString() + idc.toString());
            $("#show" + idt.toString() + idc.toString()).on("click", function(){ Showp(idt, idc); });            
        }
        //show detail on card
        function Showp(idt, idc) {            
            $("#pbodybd" + idt.toString() + idc.toString()).show();
            $("#pbodycr1" + idt.toString() + idc.toString()).show();
            $("#pbodycr2" + idt.toString() + idc.toString()).show();
            $("#pbodyal" + idt.toString() + idc.toString()).show();            
        }
        $(document).ready(function(){            
            setInterval(function(){
                $.get("https://localhost:44358/api/Data", function(data, status) {
                    //assign json train variable
                    idt = data[0].ntrain;
                    idc = data[0].ncarriage;
                    idtemp = data[0].temp;
                    idhum = data[0].humidity;
                    idbd = data[0].bathdoor;
                    idcr1 = data[0].carriagedoor1;
                    idcr2 = data[0].carriagedoor2;
                    idal = data[0].alarm;
                    //if train don't exist
                    if(!tarr.includes(data[0].ntrain)) {
                            
                        tarr.push(data[0].ntrain)
                            
                        $('<div></div>').addClass("row").attr("id", "rowtr" + idt.toString() ).appendTo('.main');
                        createCard(idt, idc, idtemp, idhum, idbd, idcr1, idcr2, idal);                      
                    }
                    //update information
                    else if(tarr.includes(data[0].ntrain) && !!document.getElementById("crcol" + (data[0].ntrain).toString() + (data[0].ncarriage).toString())) {
                            
                        $( "#pheadert" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pheadert" + idt.toString() + idc.toString() + ">" + "Treno: " + data[0].ntrain + "</p>" );
                        $( "#pheaderh" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pheaderh" + idt.toString() + idc.toString() + ">" + "Carriage: " + data[0].ncarriage + "</p>" );

                        $( "#pbodyt" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pbodyt" + idt.toString() + idc.toString() + ">" + "C°: " + idtemp + "</p>" );
                        $( "#pbodyh" + idt.toString() + idc.toString()).replaceWith( "<p id=" + "pbodyh" + idt.toString() + idc.toString() + ">" + "%: " + idhum + "</p>" );
                        $( "#pbodybd" + idt.toString() + idc.toString()).replaceWith( "<p style=" + "display:" + "none;" + " id=" + "pbodybd" + idt.toString() + idc.toString() + " >" + "bathdoor: " + idbd + "</p>" );
                        $( "#pbodycr1" + idt.toString() + idc.toString()).replaceWith( "<p style=" + "display:" + "none;" + " id=" + "pbodycr1" + idt.toString() + idc.toString() + " >" + "carriagedoor1: " + idcr1 + "</p>" );
                        $( "#pbodycr2" + idt.toString() + idc.toString()).replaceWith( "<p style=" + "display:" + "none;" + " id=" + "pbodycr2" + idt.toString() + idc.toString() + " >" + "carriagedoor2: " + idcr2 + "</p>" );
                        $( "#pbodyal" + idt.toString() + idc.toString()).replaceWith( "<p style=" + "display:" + "none;" + " id=" + "pbodyal" + idt.toString() + idc.toString() + " >" + "alarm: " + idal + "</p>" );                        
                    }
                    else {                            
                        createCard(idt, idc, idtemp, idhum, idbd, idcr1, idcr2, idal);                         
                    }
                });
            }, 5000);             
        });
    </script>
}