<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iotfunctrigger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c67bc124-4747-47b9-8810-d051b42d54a2/resourceGroups/ITS/providers/Microsoft.Web/sites/IotFuncTrigger</ResourceId>
    <UserName>$IotFuncTrigger</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://iotfunctrigger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>