@page
@model ITS.PW_ANNO2.GRUPPO4.Dashboard.Pages.Control.SendMessageModel
@{
}
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <form method="post" id="senddata" >
            <div class="form-group">
               <label for="sel-al-train">Train ID</label>
               <select class="custom-select" id="sel-al-train" name="ntrain">
                  <option value="0">Select a train</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
               </select>
            </div>
            <div class="form-group">
               <label for="sel-al-carriage">Train carriage</label>
               <select class="custom-select" id="sel-al-carriage" name="ncarriage">
                  <option value="0">Select a carriage</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
               </select>
            </div>
            <div class="form-check">               
               <input type="checkbox" class="form-check-input" id="alarm" name="alarm" value="1">
               <label class="form-check-label" for="alarm">ACTIVATE ALARM</label>
               <small id="alarm-activate" class="form-text text-muted">ALARM IN CASE OF EMERGENCY PUSH THIS BUTTON</small>
            </div>
            <br />
            <button type="submit" class="btn btn-primary" value="Submit" asp-page-handler="Alarm">Send alarm</button>
         </form>
      </div>
      <div class="col-md-6">
         <form method="post">
            <div class="form-group">
               <label for="sel-train">Train ID</label>
               <select class="custom-select" id="sel-train" name="nttrain">
                  <option value="0">Select a train</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
               </select>
            </div>
            <div class="form-group">
               <label for="sel-carriage">Train carriage</label>
               <select class="custom-select" id="sel-carriage" name="ntcarriage">
                  <option value="0">Select a carriage</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
               </select>
            </div>
            <div class="form-group">
               <label for="temp-value">Insert temp value</label>
               <input type="text" value=25 class="form-control" id="temp-value" name="temp-value"/>
               <small id="temp-vs" class="form-text text-muted">Default value 25C°</small>
            </div>
            <button type="submit" class="btn btn-primary" value="Submit" asp-page-handler="Temp">Send temperature</button>
         </form>
      </div>
   </div>
</div>
